.hook {
  width: 4px;
  height: 4px;
  margin: 12px auto 4px;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px #a49c7c;
  background: #5c5c5d;
}
.rope-container {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.rope {
  width: 80px;
  height: 80px;
  margin: auto;
  transform: rotate(45deg);
  border: 2px solid #efdbcc;
  margin-top: 6px;
  border-radius: 6px;
  box-shadow: rgb(85, 85, 85) 3px 8px 9px -2px,
    rgb(85, 85, 85) 3px 3px 5px -3px inset;
}
