.more-icon {
  color: #581845;
  position: absolute;
  top: 0;
  right: 0;
}

.more-icon.closed {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}
.more-icon.open {
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slate-details {
  margin-bottom: 4px;
  padding-top: 2px;
  background: #dedede;
  border-radius: 8px;
  width: 230px;
  position: relative;
  cursor: pointer;
}
